/*body*/
Body{
    font-family: 'Arial', 'helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

/*header*/
header{
    padding: 25px;
    margin-bottom:10px;
    background:#ebebeb;
    color: #777;
    text-align: center;
    width:960px;
    /*add a margin on the left of the block to keep it in the center of the screen*/
    margin-left: 130px;
}
/*nav- */
.nav{
    background: #ebebeb;
    color: #777;
    text-align: center;
    padding: 25px;
    margin-bottom: 20px;
    width:960px;
    /*make into a block so it's not float left*/
    display: block;
    margin-left: 130px;
}
/*middle class is the section between nav and footer*/
.middle{
    height:350px;
    padding-left: 130px;
    margin-bottom: 10px;
    width: 1010px;
    text-align: center;
}
.section{
    background:#ebebeb;
    padding:45px;
    display:inline-block;
    float: left;
    width: 480px;
    height: 250px;
}
/*article needs to move more to the left to have an even distance with the outside box(section)*/
.article{
    background: #777;
    color:#ebebeb;
    width:450px;
    padding:30px;
    height:150px;
    margin-top:50px;
    margin-right:50px;
}
/*hs and p are contained inside article and their margins are limited accordingly- 
moved both hs and p down by adding margin-top to hs*/
.hs{
    padding:15px;
    background:#ebebeb;
    width:430px;
    margin-bottom:10px;
    color:#777;
    margin-top:30px;
}
.p{
    padding:15px;
    background:#ebebeb;
    width:430px;
    color:#777;
}
.aside{
    width:330px;
    height:250px;
    background:#ebebeb;
    padding:45px;
    color:#777;
    float: right; 
    display:inline-block;        
}
/*footer- limit width to 10px less than nav and header*/
footer{
    padding: 30px;
    margin-bottom: 5px;
    background: #ebebeb;
    color:#777;
    text-align: center;
    width: 950px;
    margin-left: 130px;
}
